.frame7{
    /* border: 1px solid red; */
    width: 1440px;
    height: 716px;
}
.frame7 > .emi{
    display: flex;
    /* border: 1px solid black; */
    width: 354px;
    height: 61px;
    margin-left: 80px;
    margin-top: 74px;
    gap: 11px;
    align-items: center;
}
.frame7 > .emi > p{
    font-size: 40px;
    font-weight: 600;
    line-height: 60.63px;  
}
.frame7 > .chart-box{
    display: flex;
    /* border: 1px solid green; */
    width: 1280px;
    height: 466px;
    margin-left: 80px;
    margin-top: 50px;
    justify-content: space-between;
}
.frame7 > .chart-box > .first > img{
    width: 400px;
    height: 466px;
    border-radius: 14px;
}
.frame7 > .chart-box > .second > img{
    width: 809px;
    height: 466px;
    gap: 19px;
    margin-top: -10px;
}
